<h1>Patients</h1>
<hr />
<div>
  <% @patients.each do |patient| %>
    <div>
    <%= link_to patient.full_name, patient_path(patient) %>
    </div>
  <% end %>
</div>
<hr />
<div><%= link_to "Create New Patient", new_patient_path %>
