<h1>Dr. <%=@patient.full_name%></h1>
<h3>Age: <%= @patient.age %>
<h3>Gender: <%= @patient.gender %></h3>
<h3>Contact Information: </h3>
<h3><%= link_to "Edit Patient", edit_patient_path(@patient) %></h3>
