<div>
<div class="container">
<a><%= link_to 'Doctors', doctors_path, class: "nav-item" %></a>
<a><%= link_to 'New Doctor', new_doctor_path, class: "nav-item" %></a>
<a><%= link_to 'Patients', patients_path, class: "nav-item"  %></a>
<a><%= link_to 'New Patient', new_patient_path, class: "nav-item"  %></a>
<a class="nav-item-empty"></a>
<a class="nav-item-empty"></a>
</div>
</div>
